node_modules
.next
out
build
.git
.env
.env*.local
.DS_Store
*.pem
npm-debug.log*
README.md
Dockerfile
.dockerignore
next.config.mjs
postcss.config.mjs
tailwind.config.ts
tsconfig.json
tsconfig.tsbuildinfo
prisma/seed.ts
